* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Leaderboard {
    max-width: 800px;  
    margin: 5rem auto;
    box-shadow: 2px 2px 5px 5px #aaa;
    border-radius: 1rem;
}

header {
    background-color: rgb(0, 172, 66);
    color: white;
    text-transform: uppercase;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
}

table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

thead {
    font-size: 0.75rem;
    color: #555;
    text-transform: uppercase;
}

tbody .Name {
    color: white;
    font-weight: bold;
}

.Name, .Rank {
    text-align: left;
}

 .Country, .Score {
    text-align: right;
    width: 6ch;
}

td {
    padding: 1rem 1rem;
}

th {
    padding: .5rem 1rem;
}

tbody tr:nth-child(2n) {
    background-color: rgb(100, 100, 100);
}

nav a {
    font-size: .9rem;
    text-align: center;
}

nav a+a {
    margin-left: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}

a:hover {
    border-bottom: 4px solid lightgreen;
    color: black;
}

header h1 {
    font-family: 
};