.navWrap {
    text-align: center;
    z-index: 9999;
}

.wrap {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 10px;
}

.navItem {
    padding: 10px 35px 10px 35px !important;
    border-radius: 10px;
    font-size: 18px;
}

/* .login {
    background: white;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
} */

.navItem:hover {
    background: white;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.h1Wrap {
    color: gray;
    padding: 10px 5px 0px 30px;
    text-decoration: none;
    z-index: 9999;
}

.h1Wrap h1 {
    font-size: 60px;
}

.h1Wrap h1:hover {
    transition: all .25s ease-out;
    color: white;
    font-size: 65px;
}


@media (max-width: 992px) {

    .wrap {
        justify-content: center;
    }

    .h1Wrap {
        width: 100%;
        text-align: center;
    }
}