.textBorder {
    text-align: center;
}

.textBorder h1,
.textBorder h2 {
    color: white;
    margin: 10px 0 25px 0;
}

.profileTable {
    width: 60%;
    text-align: left;
    margin-top: 50px;
    margin: 0 auto;
    color: white;
}

.profileTable h3 {
    text-align: center;
}

tr {
    color: white;
    letter-spacing: 2px;
}

.table h3 {
    text-align: left;
    margin-bottom: 0px;
}

.levelBtn {
    position: relative;
    left: 47%;
}

.levelBtn button {
    margin-top: 10px;
    width: 100px;
    background: #555;
    border: 2px solid white;
}

.levelBtn button:hover {
    background: rgb(32, 32, 32);
    border: 2px solid white;
}